.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/

__pycache__
.vscode

.env
env
env/
.env/

venv
venv/

Pizzaria.sql
Pizzaria

.vscode

.pytest_cache
pytest_cache/
.pytest_cache/